<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.png">

    {% block head %} {% endblock %}
</head>
<body>
{% block body %} {% endblock %}
</body>
<script type="text/javascript">
    setInterval(function () {
        console.log('Scheduler: Refreshing data ', new Date())
        fetch('/refresh')
    }, 24 * 60 * 60 * 1000);
</script>
</html>